# MacOS specific
.DS_Store

# Python stuff
__pycache__
.venv

# VSCode stuff
.vscode

# Build
build
dist
*.egg-info

# Folder for debugging
debug
logodesign

# Docs
docs/make.bat
docs/Makefile
docs/build
