h1 {
    color: #414042; 
  }

html[data-theme=dark] h1 {
  color: #f1f2f2;
}
  
h2 {
    color: #4d77cf; /* han blue */
    letter-spacing: -.03em;
  }
  
h3 {
    color: #013243; /* warm black */
    letter-spacing: -.03em;
  }

.footer-item {
  text-align: center;
}
